<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/app.css">
   
   <title>Document</title>
</head>
<body>
   <div class="rating">
      <span class="rating__stars" style="--rating: 5;"></span>
      <a href=""></a>
      <div class="rating__number">
         <span class="rating__score">{{ ratings }}</span>
         <div class="rating__reviews">Based on {{total_ratings}} Reviews</div>
      </div>
   </div>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="/static/app.js"></script>
</body>
</html>